<br />
<br />
<br />
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>User name</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userData">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>
            <button class="btn btn-secondary btn-sm" (click)="deleteUser(user)">Delete</button>
            <button class="btn btn-secondary btn-sm ml-3" (click)="updateUser(user)">Update</button>
          </td>
        </tr>
        <br />
        <tr>
          <button class="btn btn-secondary btn-sm" (click)="addUser()">Add User</button>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    <form #loginForm="ngForm">
      <input class="form-control" type="text" name="username" [(ngModel)]="username" required
        placeholder="Enter username" />
      <input class="form-control" type="email" name="email" [(ngModel)]="email" required placeholder="Enter email" />
      <br />
      <button class="btn btn-secondary" type="submit" (click)="submitUser()">Submit</button>
    </form>
  </div>
  <div class="col-sm-1"></div>
</div>
